@media (max-width:750px){
    body{
        background-color: hsl(257, 40%, 49%);
        background-image: url('../images/bg-mobile.svg') no-repeat;

        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main{
       flex-wrap: wrap;
    }

    .logo{
        margin-right: 250px;
        margin-top: 50px;
    }

    .image{
        margin-top: 50px;
       
    }
    }